body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #f2f2f2, #706e6e);
  background-size: 100vw 400vh;
  background-attachment: scroll;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  width: 120%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #444;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #fff;
  padding: 2em;
  margin-top: 20px; /* added margin top to create gap between sections */
  margin-bottom: 20px; /* kept margin bottom to maintain spacing */
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.1);
  width: 800px; /* kept fixed width to sections */
  margin: 10 auto; /* kept horizontal centering to sections */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

p {
  width: 800px; /* kept fixed width to paragraphs */
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
}